@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

#module-table .header_image_preview {
    max-width: 100px;
}

#module-table .preview_image_preview {
    max-width: 200px;
}

#module-table .content_image_preview {
    max-width: 200px;
}

#subject-table .header_image_preview {
    max-width: 100px;
}

#subject-table .preview_image_preview {
    max-width: 200px;
}

#subject-table .content_image_preview {
    max-width: 200px;
}

.panel-default .panel-heading {
    background-color: #e5e5e5;
}

#lesson-edit-form .row-files-complete {
    margin: 3px 0px;
}

#lesson-edit-form .row-files {
    display: flex;
    align-items: center;
}

#lesson-edit-form .row-files input {
    max-width: 800px;
    margin-right: 10px;
}

#lesson-edit-form .file-type-preview video {
    margin-top: 10px;
    width: 500px;
}

#lesson-edit-form .file-type-preview embed {
    margin-top: 10px;
    width: 500px;
    height: 750px;
}

#module-edit-form #header_image_preview {
    max-width: 150px;
    max-height: 150px;
    margin-top: 10px;
}

#subject-edit-form #header_image_preview {
    max-width: 150px;
    max-height: 150px;
    margin-top: 10px;
}

.row-modules {
    margin: 3px 0px;
    display: flex;
}

.row-modules .modules {
    margin-right: 10px;
}

#course-create-form .button i, .button-3d i, .button-o i {
    margin-left: 0px;
}

.full-wrapper {
    margin: 0 5%;
}

.footer-container {
    display: flex;
}

.nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-logo:hover {
    text-decoration: none;
}

.nav-logo h3 {
    margin: 0px;
    margin-left: 20px;
    font-family: 'Quicksand';
    color: white;
}

.col-footer-logo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.col-footer-contain {
    display: flex;
    flex-direction: column;
}

.row-footer-link {
    width: 100%;
    display: flex;
}

.col-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-text p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 20px;
}

.footer-social-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer-social-links a {
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-social-links a::before {
    background-color: transparent !important;
}

.footer-social-links .whatsapp{
    background-color: #25D366;
    border-radius: 50%;
}

.footer-social-links .whatsapp i {
    font-size: 25px;
    color: white;
}

.footer-social-links .instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    border-radius: 50%;
}

.footer-social-links .instagram i {
    font-size: 25px;
    color: white;
}

.footer-social-links .facebook{
    background-color: #3b5998;
    border-radius: 50%;
}

.footer-social-links .facebook i {
    font-size: 25px;
    color: white;
}

.col-footer-contain hr {
    width: 100%;
}

.footer-btn a {
    margin-top: 30px;
    width: fit-content;
    margin-right: 10px;
}

.footer-btn .active{
    background-color: rgb(255, 255, 255);
    color: black;
}

.footer-copy a {
    text-decoration: none;
}

.required-field-color {
    color: #e10022;
}

.button-cancel {
    background-color: #b13535 !important;
}

.button-success {
    background-color: #49952d !important;
}

.button-edit {
    background-color: #356fb1 !important;
}

.button-clone {
    background-color: #8135b1 !important;
}

.row-tags {
    display: flex;
}

.row-tags .name-studies {
    margin-right: 10px;
}

.row-tags .location-studies {
    margin-right: 10px;
}

.table-col-btn {
    display: flex;
    flex-direction: column;
}

.table-col-btn .btn {
    margin-bottom: 5px;
    width: fit-content;
    min-width: 110px;
}

#subject-edit-form .row-assigned_modules {
    display: flex;
    align-items: center;
    margin: 3px 0px;
}

#subject-edit-form .row-assigned_modules select {
    margin: 0px 10px;
}

#module-edit-form .row-assigned_lessons {
    display: flex;
    align-items: center;
    margin: 3px 0px;
}

#module-edit-form .row-assigned_lessons select {
    margin: 0px 10px;
}

#module-edit-form .row-assigned_subjects {
    display: flex;
    align-items: center;
    margin: 3px 0px;
}

#module-edit-form .row-assigned_subjects select {
    margin: 0px 10px;
}

#lesson-edit-form .row-assigned_modules {
    display: flex;
    align-items: center;
    margin: 3px 0px;
}

#lesson-edit-form .row-assigned_modules select {
    margin: 0px 10px;
}

.related_table  p {
    margin: 0px;
}