@font-face {
    font-family: "Quicksand";
    src: url('../fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Quicksand";
    src: url('../fonts/Quicksand/Quicksand-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Quicksand";
    src: url('../fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Quicksand";
    src: url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Quicksand";
    src: url('../fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

#showFormRegister {
    padding: 10px;
}

#showFormLogin {
    padding: 10px;
}

#showFormRegister:hover {
    cursor: pointer;
    color: #ff4530;
}

#showFormLogin:hover {
    cursor: pointer;
    color: #ff4530;
}

.table-secretary {
    padding: 0 100px;
}

#module-table #header_image_preview {
    max-width: 150px;
}

#module-table #canvas_preview canvas {
    max-width: 300px;
}

#module-table #canvas_content canvas {
    max-width: 300px;
}

.panel-default .panel-heading {
    background-color: #f5f5f5;
}

#lesson-edit-form .row-files-complete {
    margin: 3px 0px;
}

#lesson-edit-form .row-files {
    height: 31px;
    display: flex;
    align-items: center;
}

#lesson-edit-form .row-files input {
    margin-right: 10px;
}

#lesson-edit-form .file-type-preview video {
    width: 500px;
}

#lesson-edit-form .file-type-preview embed {
    width: 500px;
    height: 750px;
}

#module-edit-form #header_image_preview {
    max-width: 150px;
    max-height: 150px;
    margin-top: 10px;
}

.row-modules {
    margin: 3px 0px;
}

#course-create-form .button i, .button-3d i, .button-o i {
    margin-left: 0px;
}